.carousel.slide.carousel.slide.bot{
    display: none;
}

body {
    font-family: 'Libre Baskerville', serif;
}

/*CABECERA*/
#social {
    position: relative;
    top: 0;
    z-index: 1050;
    background: #377eda !important;
    margin: 0;
    padding: 0;
}




#navbar {
    position: sticky;
    top: 0;
    /* Adjust this value according to the height of your #social and #header elements */
    z-index: 1030;
    background: #377eda !important;
    margin: 0;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}


/*BARRA DE NAVEGACION*/
.navbar .nav-item {
    margin-left: 10%;
    margin-right: 8%;
}


.dropdown-menu {
    background: #377eda !important;
}

.navbar-toggler {
    outline: none !important;
    padding: none !important;
}

.dropdown-item {
    color: aliceblue;
}

/*Carrusel*/

.carousel-inner .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner .carousel-item::before {
    content: '';
    background-color: rgba(12, 11, 11, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-inner .carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 37%;
    left: 0;
    right: 0;
}

.carousel-inner .carousel-caption h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    width: 80%;
    margin: 0px auto 10px auto;
}

.carousel-inner .carousel-caption p {
    font-size: 20px;
    width: 80%;
    margin: 0px auto 20px auto;
}





/* Imagenes de cartas */
.card-img-top {
    height: 200px;
    /* Adjust the height as needed */
    object-fit: cover;
}

.card {
    height: 100%;
}

.course .box {
    padding: 10px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

/*Google Map*/
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
   
}

/*Configuracion de Resolucion de Pantallas*/
@media(max-width: 768px) {
    .carousel-inner .carousel-caption h2 {
        font-size: 38px;
    }
}

@media(max-width: 577px) {
    .carousel-inner .carousel-caption h2 {
        font-size: 25px;
    }

    .carousel-inner .carousel-caption p {
        font-size: 13px;
    }

}

@media(min-width: 0px) and (max-width: 425px) {
    #social {
        display: none;
    }
    .text-white.text-center.text-lg-start.bg-dark.mt-lg-5{
        display: none;
    }

    .carousel-inner .carousel-caption h2 {
        font-size: 25px;
    }

    .carousel-inner .carousel-caption p {
        font-size: 13px;
    }

    .navbar .nav-item {
        margin-left: 0;
        margin-right: auto;
    }
}


@media(min-width: 1399px) and (max-width: 3000px) {

    .navbar-expand.navbar-brand{
        font-size: 1.3vw;
    }
    
}

@media(min-width:768px) and (max-width: 991px){
    .row.mt-5{
        display: none;
    }

    .carousel.slide.bot{
        max-width: 50%;
    }

    .carousel.slide.carousel.slide.bot{
        display: inline-block;
    }
}